{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block body %}
<div class="container" style="margin-top:70px">
	<div class="row">
		<div class="col-sm-6">
			{% for rec in records %}
				<div class="blog-post" onclick="location.href='{{ url_for('story_page', title=rec.site_url) }}'">
					<h2 class="blog-post-title" style="padding:15px;">{{ rec.site_title }}</h2>
					<p class="blog-post-preview" style="padding:15px;">{{ rec.site_preview }}</p>
				</div>
				{% for tag in rec.tags %}
					<p>
						<strong>Category</strong>
						<span class="bg-success p-2 text-white rounded">{{ tag.name }}</span>
					</p>
				{% endfor %}
				<hr>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}



