{% extends "base.html" %}
{% block title %} {{story.title}} {% endblock %}
{% block description %} {{story.description}} {% endblock %}
{% block keywords %} Hindi sex stories {% endblock %}

{% block body %}
<div class="container" style="margin-top:90px">
	<div class="row">
		<div class="col-sm-7 article pt-4">
			<div class="story">
                <div class="story-title p-4">
                    <h2>{{story.title}}</h2>
                    <p class="small">
                        <b class="text-success pr-2">Published On</b>
                        <i class="blog-info">{{ story.story_id }}</i>
                        <strong>|</strong>
                        <b class="text-success pr-2">Category</b>
                        {% for tag in story.tags %}
                            <a class="blog-info blog-link" href="#">{{ tag.name }}</a>
                        {% endfor %}
                    </p>
                </div>
                {% if story.parent_url %}
                    <div class="story-previous">
                        <div class="alert alert-success">
				            Prev: <a href="#">{{story.parent_url}}</a>
			            </div>
                    </div>
                {% endif %}
                <div class="story-content pt-4">
                    {% for rec in story.content_ids %}
			            <p>{{ rec.content }}</p>
			        {% endfor %}
                </div>
            </div>
		</div>
	</div>
</div>
{% endblock %}